<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />

<title>EComm app</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
<div class="container">
  <a class="navbar-brand" href="#">My ECommerce App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 </div>
</nav>

<br />
<br />
<br />
<br />

	<div class="container">

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				
				<div class="card">
					<div class="card-header">Please login</div>
					<div class="card-body">
						<form th:action="@{/login}" method="post">
							<div th:if="${param.error}">
								<div class="alert alert-danger">Invalid username or
									password.</div>
							</div>
							<div th:if="${param.logout}">
								<div class="alert alert-info">You have been logged out.</div>
							</div>
							<div class="form-group">
								<label for="username">User Name</label>: <input type="text"
									id="username" name="username" class="form-control"
									autofocus="autofocus" placeholder="Username" />
							</div>
							<div class="form-group">
								<label for="password">Password</label>: <input type="password"
									id="password" name="password" class="form-control"
									placeholder="Password" />
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-sm-6 col-sm-offset-3">
										<input type="submit" name="login-submit" id="login-submit"
											class="form-control btn btn-primary" value="Log In" />
									</div>
								</div>
							</div>
							<div class="form-group">
								<span>New user? <a href="/" th:href="@{/registration}">Register
										here</a></span>
							</div>
						</form>
					</div>
				</div>

			</div>
		</div>


	</div>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>